/*color codes*/
$fb-color: #3B5998;
$dark-gray: #9d9d9d;
$light-gray: #e2e2e2;
$med-gray: #262626;

/*blue*/
$blue-1: #011f4b;
$blue-2: #03396c;
$blue-3:#005b96;
$blue-4: #6497b1;	
$blue-5: #b3cde0;

/*shadow*/
$shadow-lightest-gray: #e2e2e2;